.awaiting-more-subtasks {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text-dim);
    font-size: var(--font-medium);
}

.page-header .page-header-actions {
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}

.page-header-buttons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.subtask-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
}

.add-subtask-form {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
}
